<div class="flex-container">
  <div class="flex-element-1">
    <h4>Omschrijf de actie die je gaat ondernemen.</h4>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <h5>Titel van de activiteit</h5>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <input class="full-width" type="text"/>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <h5>Omschrijving van de activiteit</h5>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <input class="full-width"  type="text"/>
  </div>
</div>


<div class="flex-container">
  <div class="flex-element-1">
    <h5>Hoeveel punten is deze activiteit waard ?</h5>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <input class="full-width"  type="text"/>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <h5>Voor wanneer wil je deze activiteit af hebben ?</h5>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <input class="full-width"  type="text"/>
  </div>
</div>

<div class="flex-container">
  <div class="flex-element-1">
    <button (click)="saveAction()" md-raised-button>Voes actie toe.</button>
  </div>
  <div class="flex-element-1">
    <button (click)="cancel()" md-raised-button>Annuleer.</button>
  </div>
</div>
