.tracker-container{
  margin-top: 25vh;
}
.login-flex-element{
  flex: 5;
  flex-wrap: wrap;
  justify-content: center;
}
.login-grid-element{
  flex: 2
}
.login-input{
  width: 100%;
}
.login-logo{
  display: block;
  margin: auto;
  margin-top: 10vh;
}
