.color-corner{
  height:50px;
  width: 50px;
  background-color: #003061;
  border-top-left-radius: 10px;
}
.color-block-actions{
  height:50px;
  width: 50px;
  background-color: #FF7562;
}
.color-block-actions-detail{
  height:50px;
  width: 50px;
  background-color: #DBAFAA;
}
.block-blue{
  background-color: #8194A8;
  height: 50px;
}
.block-red{
  background-color: #DBAFAA;
  height: 50px;
}
.color-block-description{
  height:50px;
  width: 50px;
  background-color: #8194A8;
}
.color-corner-date{
  height:50px;
  width: 50px;
  background-color: #60CEAF;
  border-bottom-left-radius: 10px;
}
.center-icon{
  text-align: center;
}
.main-container{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10vh;
}
.marginated-10{
  margin-left: 10px;
  margin-right: 10px;
}
.text-padded{
  padding: 5px;
}
.goal-container-top{
  background-color: #8194A8;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.goal-container-middle{
  background-color: #DBAFAA;
  height: 100px;
}
.goal-container-middle-header{
  background-color: #DBAFAA;
  height: 50px;
}
.goal-container-bottom{
  background-color: #CFECE4;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.goal-flex-element-5{
  flex: 5;
}
.goal-flex-element-05{
}
.padded{
  padding: 5px;
}
.align-left{
  text-align: left;
}

.flex-element-1{
  overflow-y: scroll;
  flex:1;
}
.flex-element-5{
  flex:5;
}
.clr-top-icon{
  background-color: #003061;
  height: 100%;
}
.clr-top-text{
  background-color: #8194A8;
  height: 100%
}

.white-text{
  color: white;
}
.align-center{
  text-align: center!important;
}
.marginated-top-5{
  margin-top: 10px;
}
.blue-text{
  color: #2A4D72;
}

.grey-text{
  color: #39444F;
}
.border{
  border-radius: 10px;
  border: 3px white solid;
}
